
html{
    scroll-behavior: smooth;
}    
body {
    height: 4210px;
    background-image: url(assets/bg.png);
    background-size: 100%;
    background-repeat: no-repeat;
    animation: move 200s infinite , trans 0.80s ease;
    max-width: 100%;
    overflow-x: hidden;

}
@keyframes trans{
    from {
opacity: 0;
transform: rotate(-10);
    }

    to{
        opacity: 1;
       transform:rotate(0);

    }
}

@keyframes move {
    50% {
        background-position: center;
    }
}

.navbar {
    z-index: 1;
    position: fixed;
    width: 100%;
    height: 90px;
    left: 0px;
    top: 0px;
    background: linear-gradient(90deg, #A2798F 0%, #8D697C 21%, #7C5C6D 37.5%, #634A57 62%, #523E49 78%, #3C2D35 100%);
    border-bottom: 20px solid #FEFCF9;

}

.navbar>img {
    position: absolute;
    width: 100px;
    height: 80px;
    left: 10px;
    top: 10px;

}

ul {
    display: flex;
    list-style-type: none;
    column-gap: 50px;
    margin-right: 50px;
    justify-content: end;
    font-size: 25px;
}

.button {
    color: #EBDADA;
    font-family: 'Open sans';
}

.button>a:hover {
    box-sizing: border-box;
    background: #EBDADA;
    border: 4px solid rgba(140, 171, 168, 0.53);
    border-radius: 9px;
    color: rgba(140, 171, 168);
}

a {
    text-decoration: none;
    color: #EBDADA;
}

.top{

position: absolute;
width: 420px;
height: 90px;
left: 547px;
top: 210px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;

border-bottom: 10px solid #FEFCF9;

font-family: 'Oleo Script';
font-style: normal;
font-weight: 400;
font-size: 50px;
line-height: 89px;
text-align: center;
color: #464545;

}
.skills> figure{

position: absolute;
width: 521.53px;
height: 170px;
left: 450px;
top: 300px;
display: flex;
flex-direction: row;
justify-content: space-between;

}

.skills> #one{

position: absolute;
width: 240px;
height: 70px;
left: 426px;
top: 455px;

font-family: 'Oleo Script';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 41px;
text-align: center;

color: #464545;


}

.skills> #two{

position: absolute;
width: 240px;
height: 70px;
left: 841px;
top: 455px;

font-family: 'Oleo Script';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 41px;
text-align: center;

color: #464545;


}

.intro > .one{

position: absolute;
width: 1086px;
height: 132px;
left: 211px;
top: 600px;

font-family: 'Open sans';
font-style: normal;
font-weight: 400;
font-size: 55px;
line-height: 66px;
text-align: center;

color: #464545; 
}
.intro > .two{

position: absolute;
width: 407px;
height: 336px;
left: 52px;
top: 870px;

font-family: 'Open sans';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 48px;
text-align: center;

color: #464545;


}
.intro > .thr{

position: absolute;
width: 420px;
height: 96px;
left: 46px;
top: 1200px;

font-family: 'Open sans';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 48px;
text-align: center;

color: #464545;


}

.intro > iframe{

position: absolute;
width: 835px;
height: 470px;
left: 527px;
top: 900px;
border: 20px solid #FEFCF9;


}
hr.one{

position: absolute;
width: 1346px;
height: 0px;
left: 50px;
top: 1616px;
border: 10px solid #FEFCF9;


}
hr.two{

    position: absolute;
    width: 1346px;
    height: 0px;
    left: 50px;
    top: 2600px;
    border: 10px solid #FEFCF9;
    
    
    }
    

.one{
position: absolute;
width: 383px;
height: 70px;
left: 528px;
top: 1800px;

font-family: 'Oleo Script';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 10px;
text-align: center;

color: #464545;

}
.one>img{
    width: 150px;
    height: 220px;


}
.web{

position: absolute;
width: 260px;
height: 36px;
left: 120px;
top: 2123px;
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 36px;

color: #464545;


}
.Design{
    /* Design Tools */

position: absolute;
width: 180px;
height: 36px;
left: 470px;
top: 2123px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 36px;
/* identical to box height */

color: #464545;


}
.Control{
    /* Version Control */

position: absolute;
width: 220px;
height: 36px;
left: 730px;
top: 2123px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 36px;
/* identical to box height */

color: #464545;


}
.Archiving{
    /* Archiving & Classification */

position: absolute;
width: 350px;
height: 36px;
left: 1025px;
top: 2123px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 36px;
/* identical to box height */
text-align: center;

color: #464545;


}
.html{
    position: absolute;
    width: 150px;
    height: 150px;
    left: 50px;
    top: 2200px;
    
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 37px;
    text-align: center;
    
    color: #464545;
    
}
.CSS3{
position: absolute;
width: 150px;
height: 110px;
left: 220px;
top: 2200px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 37px;
text-align: center;

color: #464545;

}
.Figma{
    position: absolute;
    width: 180px;
    height: 150px;
    left: 430px;
    top: 2210px;


    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 43px;
    text-align: center;
    
    color: #464545;

}
.GitHub{

    position: absolute;
    width: 180px;
    height: 150px;
    left: 710px;
    top: 2200px;


    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 36px;
    text-align: center;
    
    color: #464545;
    
 
    

}
.Book { 
    position: absolute;
    width: 250px;
    height: 150px;
    left: 1030px;
    top: 2200px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 35px;
    text-align: center;
    
    color: #464545;
 

}

.two{
    position: absolute;
    width: 383px;
    height: 70px;
    left: 528px;
    top: 2800px;
    font-family: 'Oleo Script';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 10px;
    text-align: center;
    
    color: #464545;

}
 .two>img{        
    width: 150px;
    height: 220px;
}


h5.comunication{
    position: absolute;
    width: 275px;
    height: 149px;
    left: 121px;
    top: 3365px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 36px;
    text-align: center;
    color: #464545;
}


figure.Communication{
    position: absolute;
    width: 250px;
    height: 200px;
    left: 100px;
    top: 3150px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    
    color: #464545;
}

h5.Customer{

position: absolute;
width: 300px;
height: 144px;
left: 590px;
top: 3365px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 36px;
text-align: center;

color: #464545;


}

figure.Customer{
position: absolute;
width: 300px;
height: 200px;
left: 550px;
top: 3150px;
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 35px;
text-align: center;
color: #464545;
}

h5.Problem-Solving{
    position: absolute;
    width: 350px;
    height: 149px;
    left: 1015px;
    top: 3365px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 36px;
    text-align: center;
    color: #464545;
}

figure.Problem-Solving{
    position: absolute;
    width: 300px;
    height: 200px;
    left: 1000px;
    top: 3150px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    color: #464545;


}
    


h5.Organizational{
    position: absolute;
    width: 350px;
    height: 149px;
    left: 350px;
    top: 3870px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 36px;
    text-align: center;
    color: #464545;
}

figure.Organizational{
    position: absolute;
    width: 300px;
    height: 200px;
    left: 350px;
    top: 3670px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    color: #464545;
}


h5.Coordination{
    position: absolute;
    width: 270px;
    height: 149px;
    left: 850px;
    top: 3870px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 36px;
    text-align: center;
    color: #464545;
}

figure.Coordination{
    position: absolute;
    width: 300px;
    height: 200px;
    left: 800px;
    top: 3670px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    color: #464545;
}
    
footer{
    position: relative;
  height: 200px;
    left: 631px;
    top: 4200px;

}

footer>button {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 177px;
    height: 61px;
    font-family: 'Open sans';
    font-size: large;
    background: #EBDADA;
    border: 4px solid rgba(140, 171, 168, 0.53);
    border-radius: 9px;
    color: rgba(140, 171, 168);
}
